# Download and Save Input Data

In [6]:
sparql_endpoint="http://graphdb.dumontierlab.com/repositories/openpredict"
!curl -H "Accept: text/csv" --data-urlencode query@data/sparql/drugbank-drug-target.rq {sparql_endpoint} > data/input/drugbank-drug-target.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 45649    0 44323  100  1326   128k   3934 --:--:-- --:--:-- --:--:--  132k

In [5]:
!curl -H "Accept: text/csv" --data-urlencode query@data/sparql/drugbank-target-seq.rq {sparql_endpoint} > data/input/drugbank-target-seq.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1195k    0 1194k  100   876  24755     17  0:00:51  0:00:49  0:00:02 27114

In [8]:
!curl -H "Accept: text/csv" --data-urlencode query@data/sparql/drugbank-drug-smiles.rq {sparql_endpoint} > data/input/drugbank-drug-smiles.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 39088    0 38223  100   865   384k   8917 --:--:-- --:--:-- --:--:--  397k

In [9]:
!curl -H "Accept: text/csv" --data-urlencode query@data/sparql/drugbank-drug-goa.rq {sparql_endpoint} > data/input/drugbank-drug-goa.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1309k    0 1307k  100  1464   399k    447  0:00:03  0:00:03 --:--:--  399k

In [10]:
!curl -H "Accept: text/csv" --data-urlencode query@data/sparql/drugbank-sider-sideeffects.rq {sparql_endpoint} > data/input/drugbank-sider-se.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1344k    0 1343k  100  1136   236k    200  0:00:05  0:00:05 --:--:--  169k

In [28]:
!curl -H "Accept: text/csv" --data-urlencode query@data/sparql/openpredict-omim-drug.rq {sparql_endpoint} > data/input/openpredict-omim-drug.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 31499    0 30943  100   556  1162k  21384 --:--:-- --:--:-- --:--:-- 1230k

In [26]:
!curl -H "Accept: text/csv" --data-urlencode query@data/sparql/human-interactome.rq {sparql_endpoint} > data/input/human-interactome.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1610k    0 1609k  100   806   934k    467  0:00:01  0:00:01 --:--:--  934k

In [30]:
!curl -H "Accept: text/csv" --data-urlencode query@data/sparql/omim-disease-mesh.rq {sparql_endpoint} > data/input/omim-disease-mesh.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  604k    0  603k  100   896   509k    756  0:00:01  0:00:01 --:--:--  510k

In [29]:
!curl -H "Accept: text/csv" --data-urlencode query@data/sparql/omim-disease-hpo.rq {sparql_endpoint} > data/input/omim-disease-hpo.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 57537    0 56657  100   880   419k   6666 --:--:-- --:--:-- --:--:--  425k

In [25]:
!curl -H "Accept: text/csv" --data-urlencode query@data/sparql/drugbank-drug-synonym.rq {sparql_endpoint} > data/input/drugbank-drug-synonym.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  811k    0  810k  100   560  41071     27  0:00:20  0:00:20 --:--:-- 85832

# Create Feature Matrix

In [16]:
import pandas as pd
drug_target = pd.read_csv('data/input/drugbank-drug-target.csv')
target_seq = pd.read_csv('data/input/drugbank-target-seq.csv')
drug_goa = pd.read_csv('data/input/drugbank-drug-goa.csv')
drug_smiles = pd.read_csv('data/input/drugbank-drug-smiles.csv')
drug_se = pd.read_csv('data/input/drugbank-sider-se.csv')
drug_smiles.head()

    drugid                                             smiles
0  DB00014  CC(C)C[C@H](NC(=O)[C@@H](COC(C)(C)C)NC(=O)[C@H...
1  DB00035  NC(=O)CC[C@@H]1NC(=O)[C@H](CC2=CC=CC=C2)NC(=O)...
2  DB00091  CCC1NC(=O)C(C(O)C(C)CC=CC)N(C)C(=O)C(C(C)C)N(C...
3  DB00104  C[C@@H](O)[C@@H](CO)NC(=O)[C@@H]1CSSC[C@H](NC(...
4  DB00114                    CC1=NC=C(COP(O)(O)=O)C(C=O)=C1O

In [17]:
target_seq.head()

   geneid                                                seq
0    1128  >Muscarinic acetylcholine receptor M1\nMNTSAPP...
1    1129  >Muscarinic acetylcholine receptor M2\nMNNSTNS...
2     148  >Alpha-1A adrenergic receptor\nMVFLSGNASDSSNCT...
3     147  >Alpha-1B adrenergic receptor\nMNPDLDTGHNTSAPA...
4     146  >Alpha-1D adrenergic receptor\nMTFRDLLSVSFEGPR...

In [18]:
drug_se.head()

    drugid    umlsid
0  DB00583  C0000729
1  DB00583  C0000737
2  DB00583  C0002418
3  DB00583  C0002871
4  DB00583  C0003123

In [19]:
drug_goa.head()

    drugid           g
0  DB01148  go:0007399
1  DB01148  go:0007186
2  DB01148  go:0007165
3  DB01148  go:0006464
4  DB01148  go:0008284

In [31]:
a=drug_goa['drugid'].unique()
b=drug_target['drugid'].unique()
c=drug_smiles['drugid'].unique()
d=drug_se['drugid'].unique()
commonDrugs= set(a).intersection(b).intersection(c).intersection(d)
print (len(a),len(b),len(c),len(d))
print (len(commonDrugs))

579 579 583 524
510

In [32]:
gold_ind =pd.read_csv('data/input/openpredict-omim-drug.csv')
gold_ind.head()

    drugid  omimid
0  DB01148  231200
1  DB01148  155100
2  DB01148  273800
3  DB00575  607554
4  DB00575  171300

In [33]:
gold_ind.rename(columns={'drugid':'Drug','omimid':'Disease'}, inplace=True)

In [40]:
print ("%d drugs have all features "%len( commonDrugs.intersection( gold_ind.Drug.unique())))
print ("%d drugs have GOA feature "%len( set(a).intersection( gold_ind.Drug.unique())))
print ("%d drugs have Target feature "%len( set(b).intersection( gold_ind.Drug.unique())))
print ("%d drugs have Fingerprint feature "%len( set(c).intersection( gold_ind.Drug.unique())))
print ("%d drugs have Sideeffect feature "%len( set(d).intersection( gold_ind.Drug.unique())))

510 drugs have all features
579 drugs have GOA feature
579 drugs have Target feature
583 drugs have Fingerprint feature
524 drugs have Sideeffect feature

In [35]:
disease_hpo = pd.read_csv('data/input/omim-disease-hpo.csv')
disease_mesh = pd.read_csv('data/input/omim-disease-mesh.csv')

In [37]:
dis1 = disease_mesh['diseaseid'].unique()
dis2 = disease_hpo['diseaseid'].unique()

In [36]:
disease_mesh.head()

   diseaseid         hpoid
0     231200  mesh:D000328
1     231200  mesh:D016133
2     231200  mesh:D003241
3     231200  mesh:D008969
4     231200  mesh:D000595

In [39]:
commonDiseases = set(dis1).intersection(dis2)
print ("%d drugs that have all features "%len( commonDiseases.intersection( gold_ind.Disease.unique())))
print ("%d drugs that have MESH feature "%len( set(dis1).intersection( gold_ind.Disease.unique())))
print ("%d drugs that have HPO feature "%len( set(dis2).intersection( gold_ind.Disease.unique())))

300 drugs that have all features
300 drugs that have MESH feature
310 drugs that have HPO feature